/* TODO Add site wide styles */
/* login and sign-up */
* {
    box-sizing: border-box;
}

body {
 margin: 0;
 font-family: 'Montserrat', sans-serif;
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

#root {
    height: 100vh;
    background-color: #f4f5db;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav nav nav nav"
                         "body body body body"
                         "footer footer footer footer";
}

#nav-bar__container {
    background-color: #D9DAB0;
    grid-area: nav;
    width: 100%;
    height: 60px;
}

#nav-bar__ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
}

#nav-bar__ul > * {
    list-style-type: none;
    align-items: center;
}

#nav-bar__url-secondchild {
    margin-right: auto;
}

li + li {
    margin-right: 10px;
}

/* #svg {
    grid-area: body;
    margin: 150px 400px;
    position: absolute;
} */

footer {
    grid-area: footer;
    margin-top: auto;
    background-color: #487e95;
    height: 60px;
    width: 100%;
}

/* #login-form__container {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
} */

.book-container {
    display: flex;
    justify-content: space-around;
    grid-area: body;
    margin: auto auto;
    /* position: absolute;
    /* margin: 0; */
    height: 518px;
    width: 911px;
    background-image: url('../src/components/journal_image/book3.svg');
}

.book-container > * {
    margin-top: 70px;
    /* border: solid black 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 350px;
}


/* #login-form__container > * {
    margin: 10px;
    margin-left: 90px;
}

#login-form__container > h1 {
    margin-left: 120px;
}

#login-form__container > button {
    margin-top: 10px;
    margin-left: 70px;
    width: 200px;
} */
#login-form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto 30px auto 90px;
}

#login-form {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.error-container {
    height: 81px;
    margin: 0;
}

#signup-form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto 90px auto 30px;
}

.inputs > * * {
    width: 300px;
    margin: 10px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
}

.form-buttons > * {
    margin: 5px;
    width: 200px;
    /* margin-left: 60px; */
    margin-left: 5px;
}


div > label {
    margin-right: 100%;
}


.logo {
    height: 50px;
    width: auto;
    /* margin-top: 5px; */
    /* border: solid 1px;
    border-radius: 10%; */
    margin: 5px;
    /* padding: 5px; */
}

#title {
    color: rgb(102, 104, 113);
}

button {
    height: 30px;
    border: solid 2px rgb(91, 91, 92);
    color: rgb(102, 104, 113);
    background-color: #ebebdb;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

button:hover {
    box-shadow: 3px 3px #a5a584;
}

button:focus {
    outline: none;
    box-shadow: 3px 3px #a5a584;
}

button[disabled] {
    background-color: grey;
}

.entry-body__content {
    height: 100%;
    border-top: solid 1px black;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer > * {
    margin: 20px;
}