/* TODO Add site wide styles */
/* login and sign-up */
* {
    box-sizing: border-box;
}

body {
 margin: 0;
 /* height: 100vh; */
}

/* body {
    font-family: Arial, Helvetica, sans-serif;
} */

#root {
    height: 100vh;
    background-color: #f4f5db;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "nav nav nav nav"
                         "body body body body"
                         "footer footer footer footer";
}

#nav-bar__container {
    background-color: #D9DAB0;
    grid-area: nav;
    width: 100%;
    height: 60px;
}

#nav-bar__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-bar__ul {
    list-style-type: none;
    /* text-decoration: none;
    border-bottom-style: none */
}

#nav-bar__url-firstchild {
    margin-right: auto;
}

li + li {
    margin-right: 10px;
}

/* #svg {
    grid-area: body;
    margin: 150px 400px;
    position: absolute;
} */

footer {
    grid-area: footer;
    margin-top: auto;
    background-color: #487e95;
    height: 60px;
    width: 100%;
}

#login-form__container {
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
}

.book-container {
    display: flex;
    justify-content: space-around;
    grid-area: body;
    margin: 150px 400px;
    position: absolute;
    height: 518px;
    width: 911px;
    background-image: url('../src/components/journal_image/book3.svg');
}

.book-container > * {
    margin-top: 100px;
}



