.home-page__body {
    grid-area: body;
    display: flex;
    flex-direction: row;
}

#home-page__sidebar {
    width: 300px;
    background: rgba(217, 218, 176, .3)
}

#home-page__bookcase {
    width: 100%;
}

.side-bar__container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.side-bar__container > * {
    margin: 10px;
    height: 40px;
    border-radius: 5px;
}