.home-page__body {
    grid-area: body;
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    /* grid-template-rows: auto 1fr auto; */
    grid-template-areas: "side body body"
}

#home-page__sidebar {
    width: 300px;
    background: rgba(217, 218, 176, .3)
}

#home-page__showcase {
    width: 100%;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    /* background-image: url('../../pics/Bookshelves-Empty.svg'); */
    /* z-index: ; */
}

.showcase-bookcase__container {
    height: 800px;
    width: 800px;
    margin-top: 20px;
    margin-left: 200px;
    background-repeat: no-repeat;
    /* background-position: center; */
    position: absolute;
    grid-area: body;
    background-image: url('../../pics/Bookshelves-Empty.svg');
}

.plant-image > * {
    height: 500px;
    margin-top: 300px;
    margin-left: 870px;
    /* width: 200px; */
}

.showcase-bookcase__container > * {
    display: flex;
    flex-direction: row;
    /* height: 800px; */
    /* width: 800px; */
    width: 500px;
    height: 720px;
    margin-top: 25px;
    margin-left: 167px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* height: 100vh; */
    align-content: flex-start;
}

.showcase-bookcase__display > * {
    margin-bottom: 15px;
}

.showcase-bookcase__display > *:hover {
    position: relative;
}

div[data-descr]:hover::after {
    content: attr(data-descr);
    position: absolute;
    left: 46px;
    top: 0px;
    min-width: 200px;
    border: 1px #aaaaaa solid;
    border-radius: 10px;
    background-color: #ffffcc;
    padding: 12px;
    color: #000000;
    font-size: 14px;
    z-index: 1;
}

.side-bar__container {
    /* position: absolute; */
    grid-area: side;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.side-bar__container > * {
    margin: 10px;
    height: auto;
    border-radius: 5px;
}

.side-bar__container button {
    height: 40px;
}

/* journal form */

.create-journal__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-journal__container > form {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.create-journal__container form > * {
    margin: 20px;
    justify-self: center;
}

.create-journal__container form > div {
    margin: auto;
    padding: 10px;
}

.create-journal__container label {
    margin: 0;
}

#journalName {
    width: 200px;
    height: 30px;
    border: 1mm ridge lightgray
}

#colorbox {
    width: 100px;
    height: 20px;
    margin-bottom: 5px;
    border: 1mm ridge lightgray;
}