.entry-page__container {
    grid-area: body;
    display: flex;
    flex-direction: column;
}

.journal-bar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.entry-body__container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.entry-body__container > svg {
    width: auto;
    margin: 50px;
}

.entry-body__button {
    height: 70px;
    width: 500px;
}

.entry-body__page {
    margin: 0;
    border: 2px solid black;
    height: 100vh;
    width: 1000px;
}