.entry-page__container {
    grid-area: body;
    display: flex;
    flex-direction: column;
}

.journal-bar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.journal-bar__container > * {
    width: 150px
}

.entry-body__container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f4f5db;
}

.entry-body__container > svg {
    width: auto;
    margin: 50px;
}

.entry-body__button {
    height: 70px;
    width: 500px;
}

.entry-body__page {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    /* grid-template-rows: 25 1fr auto; */
    grid-template-rows: repeat(25, 1fr);
    /* grid-template-areas: "date date date date date"
                         "side image image image side"
                         "footer footer footer footer"; */
    /* align-items: center; */
    background: #f8f8ff;
    margin: 20px;
    border: 1px solid black;
    height: 80vh;
    width: 800px;
    overflow:scroll;
    overflow-x:hidden;
}

.entry-body__page > * {
    margin: 20px;
}

.entry-body__page div:first-child {
    margin-bottom: 0;
}

.entry-date {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 7;
}

.entry-body__layout-one {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: -1;
}

.entry-body__layout-two {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 18;
    grid-row-end: -1;
}

.entry-body__layout-three {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: -1;
}

.single-image {
    margin: 0;
    height: 250px;
    width: 400px;
    object-fit: cover;
    align-self: center;
}

.entry-image__single-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 10;
}

.entry-image__single-image > * {
    margin-top: 5px;
}

/* modal for added entry */
.create-entry__container {
    padding: 50px;
}

