.entry-page__container {
    grid-area: body;
    display: flex;
    flex-direction: column;
}

.journal-bar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.entry-body__container {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.entry-body__container > svg {
    width: auto;
    margin: 50px;
}

.entry-body__button {
    height: 70px;
    width: 500px;
}

.entry-body__page {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: #f8f8ff;
    margin: 20px;
    border: 1px solid black;
    height: 80vh;
    width: 800px;
    overflow:scroll;
    overflow-x:hidden;
}

.entry-body__page > * {
    margin: 20px;
}

.entry-body__page div:first-child {
    margin-bottom: 0;
}

.entry-body__content {
    display: flex;
    flex-direction: column;
}

.single-image {
    margin-top: 0;
    height: 250px;
    width: 400px;
    object-fit: cover;
    margin-bottom: 40px;
    align-self: center;
}

/* modal for added entry */
.create-entry__container {
    padding: 50px;
}